
<div class="footer-form mb-50">

	<form method="post" asp-action="Subscribe" asp-controller="Blog" >
		<div class="form-group">

		<input type="email" required name="Email" placeholder=" Email Address " class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" >
		</div>
			<button onclick="subscribe()" type="submit" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">
				Subscribe Now
			</button>
		
	</form>

</div>