@model List<ResultRoleDto>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
	int count = 0;
}

<table class="table table-hover">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>
				@item.Name
			</td>

			<td>
				<button onclick="deleteRole(@item.Id)" class="btn btn-outline-danger">Remove</button>


			</td>
		</tr>

	}


</table>
<br />


<a asp-action="CreateRole" asp-controller="Role" asp-area="Admin" class="btn btn-outline-primary float-end"> Create Role</a>

<script>

	function deleteRole(id){


		Swal.fire({
	  title: "Are you sure?",
	  text: "You won't be able to revert this!",
	  icon: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#3085d6",
	  cancelButtonColor: "#d33",
	  confirmButtonText: "Yes, delete it!"
	}).then((result) => {
	  if (result.isConfirmed) {
		window.location.href = "/Admin/Role/DeleteRole/" + id;
	  }
	});
	}
</script>
