@model CreateSubscriberDto
@{
    ViewData["Title"] = "Create Subscriber";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">

	<label>Email</label>
	<input type="text" asp-for="Email" class="form-control" />
	<br />
	<button class="btn btn-outline-primary">Save</button>
	<a asp-action="Index" asp-area="Admin" asp-controller="Subscriber" class="btn btn-outline-primary">Return</a>
</form>



