@model UpdateTeacherSocialDto
@{
    ViewData["Title"] = "Update Teacher Social";
    Layout = "~/Areas/Teacher/Views/TeacherLayout/Index.cshtml";
}

<form method="post">
	<input hidden asp-for="TeacherSocialId"/>
	<label> Social Media Name</label>
	<input type="text" asp-for="SocialMediaName" class="form-control" />
	<br />
	<label>Icon</label>
	<input type="text" asp-for="Icon" class="form-control" />
	<br />
	<label>Social Media Url</label>
	<textarea rows="5" type="text" asp-for="Url" class="form-control"></textarea>
	<br />
	<button class="btn btn-outline-primary">Update</button>
</form>
